<div class="row fixed-top battery">
    <div class="col"></div>
    <div class="col-auto text-center">
        <img src="assets/battery.gif" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col"></div>
</div>
<h1 class="ml2">Sunny mornings</h1>

<div class="home fixed-bottom">
    <div class="row">
        <div class="col text-center">
            <button (click)="openCases()" class="btn btn-primary col-10">
                <h1>Cargar telefono</h1>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button (click)="pickUp()" class="btn btn-secondary col-10">
                <h1> Recoger telefono</h1>
            </button>
        </div>
    </div>
</div>