<div class="row fixed-top battery">
    <div class="col"></div>
    <div class="col-auto text-center">
        <img draggable="false" src="assets/battery.gif" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col"></div>
</div>
<div class="home fixed-bottom">
    <div class="row">
        <div class="col text-center">
            <button (click)="openCases()" class="btn btn-primary col-10">
                <h1>Cargar teléfono</h1>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button (click)="pickUp()" class="btn btn-secondary col-10">
                <h1> Recoger teléfono</h1>
            </button>
        </div>
    </div>
    <div class="row">
            <div class="col text-center">
                <button disabled class="btn btn-secondary col-10">
                    <h1> Afiliate</h1>
                </button>
            </div>
        </div>
</div>